<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <%- include('head', {
    version: 'bootstrap-rtl',
    centerLocation: 'algiers',
    lang: 'ar',
    title: 'عربي WeatherVenue',
    description: 'يتيح لك العثور على أفضل المدن لزيارتها في محيطك الجغرافي ؛ يمكنك العثور بسهولة على مكان لقظاء إجازة شتوية أكثر دفئًا أو رحلة صيفية أكثر برودة'}); %>
</head>

<body>
  <div id="cookies-eu-banner" style="display: none;">
    مع الاستمرار في زيارة هذا الموقع ، فإنك تقبل استخدام ملفات تعريف الارتباط (cookies) بواسطة Google Analytics لأغراض إحصائية.
    <a href="https://www.google.ae/intl/ar/about/company/user-consent-policy-help/" id="cookies-eu-more">اقرأ التفاصيل</a>
    <button id="cookies-eu-reject">لا أوافق</button>
    <button id="cookies-eu-accept">أوافق</button>
  </div>
  <div id="spinner-back"></div>
  <div id="spinner-front">
    <img src="./img/loading.gif" /><br>
  </div>
  <%- include('partials/nav_bar', { lang: 'ar' }); %>
  <%- include('partials/map', { 
    command: 'أدخل موقعًا'}); %>
      
  <div class="container-fluid">
    <h3 class="section_head" id="location">ستظهر هنا تنبآت الطقس لمدة أسبوع. يمكنك اختيار المدن المجاورة من الخريطة</h3>
    <p id="date"></p>
    <div class="row" id="forecast-items"></div>
  </div>

  <div class="container-fluid">
    <h3 class="section_head">مقارنة التنبآت</h3>
    <div class="row" id="comparision-items" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
  </div>

  <h3 class="section_head" id="gallery">ستظهر أيضًا الصورة المحلية للمدينة الرئيسية.</h3>
  <section id="imgGrid">
  </section>
  <%- include('partials/footer'); %>


</body>
<%- include('partials/after_body'); %>
</html>
